body {
	font-size: 62.5%;
}

#toolbar {
	padding: 10px 4px;
}

#canvas {
	margin: 10px;
}

#progressbar {
	width: 400px;
	float: left;
}

input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:5px; }

pre {
	font-size: 1.4em;
}

#results {
	background: #F7B64A;
	width: 600px;
	margin: 10px;
}
.stats {
	display: inline-block;
	border: 1px solid #FAF6AA;
	padding: 0.4em;
	margin: 0.4em;
	background: #F7D68A;
}
.stats_table {
	border: 1px;
	font-size: 1.2em;
	border-collapse:collapse;
	background-color: #FAF6AA;
}

#server_stats, #monitor_stats {
	display: none;
}

#settings li {
	border: 1px solid red;
	padding: 0.2em;
	
}
