body {
	font-size: 62.5%;
}

#toolbar {
	padding: 10px 4px;
}

#canvas {
	margin: 10px;
}

#progressbar {
	width: 400px;
	float: left;
}

/*input.text { font-size: 1.2em; margin-bottom:12px; width:95%; padding: .4em; }
input.radio { font-size: 67.5%;}
fieldset { padding:0; border:0; margin-top:0px; font-size: 1.2em;}
*/
label {
	font-size: 1.2em;
}

input[type=text] {
	float: right;
	font-size: 1.2em;
	height: 1.4em;
	width: 70px;
}

#time_selector {
}


pre {
	font-size: 1.4em;
}

#results {
	background: #F7B64A;
	width: 600px;
	margin: 10px;
}
.stats {
	display: inline-block;
	border: 1px solid #FAF6AA;
	padding: 0.4em;
	margin: 0.4em;
	background: #F7D68A;
}
.stats_table {
	border: 1px;
	font-size: 1.2em;
	border-collapse:collapse;
	background-color: #FAF6AA;
}

#server_stats, #monitor_stats {
	display: none;
}

#settings li {
	border: 1px solid red;
	padding: 0.2em;
	
}
