body {
	font-size: 62.5%;
			background-image: url('../images/background.gif');
}

#banner {
	background: #F7B64A;
	padding: 1px;
	padding-left: 30px;
	border-radius: 10px;
	width: 830px;
	margin-left: 30px;
}

#content {
	border: 8px solid #bbb;
	border-radius: 10px;
	background: #ddd;
	width: 820px;
	padding: 10px;
	margin-left: 30px;
}

h1 {
	font-color: red;
}

#accordion {
	float: left;
	width: 200px;
	height: 400px;
	margin-right: 10px;
}

#toolbar {
	padding: 10px 4px;
}

#progressbar {
	width: 400px;
	float: left;
}

/*input.text { font-size: 1.2em; margin-bottom:12px; width:95%; padding: .4em; }
input.radio { font-size: 67.5%;}
fieldset { padding:0; border:0; margin-top:0px; font-size: 1.2em;}
*/
label {
	font-size: 1.2em;
}

input[type=text] {
	float: right;
	font-size: 1.2em;
	height: 1.4em;
	width: 70px;
}

pre {
	font-size: 1.4em;
}

#results {
	background: #ddd;
	width: 810px;
}
.stats {
	display: inline-block;
	border: 1px solid #FAF6AA;
	padding: 0.4em;
	margin: 0.4em;
	background: #F7D68A;
}
.stats_table {
	border: 1px;
	font-size: 1.2em;
	border-collapse:collapse;
	background-color: #FAF6AA;
}

#server_stats, #monitor_stats {
	display: none;
}


#server_form, #source_form, #simulation_dialog, #splitter_form {
	padding: 10px;
	background-color: white;
	width: 220px;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
	position: relative;
}

.settings_form_close {
    position: absolute;
    top: -20px; right: -200px;
    width: 20px; height: 20px
}